/* Typeface Declarations */
:root {
  --font-heading: 'JetBrains Mono' , monospace;
  --font-body: 'Inter', sans-serif;
}

/* Primary Color Declarations */
:root {
  --cyber-blue: #003366;
  --cyber-green: #00c896;
  --cyber-teal: #007e7e;
  --red-team-crimson: #c70000;
  --deep-maroon: #641a33;
  --soc-yellow: #f4d03f;
}

/* Neutral Colors Declarations */
:root {
  --neutral-900: #0a0f1f; /*Dark Mode BG*/
  --neutral-800: #323947;
  --neutral-700: #2e3b4e; /* Placeholders */
  --neutral-600: #4b5977;
  --neutral-500: #6777a0;
  --neutral-400: #8495c9;
  --neutral-300: #a0b3f2; /* System Mode BG */
  --neutral-200: #d0d9f9;
  --neutral-100: #e8ecfc;
}

/* Dark Mode Theme */
:root {
  --color-background: var(--neutral-900);
  --color-surface: var(--neutral-800);
  --color-border: var(--neutral-700);
  --color-text-primary: var(--neutral-100);
  --color-text-secondary: var(--neutral-600);
  --color-accent-primary: var(--cyber-green);
  --color-accent-secondary: var(--cyber-blue);
}

/* 5. "SYSTEM" (LIGHT) MODE THEME */
html[data-theme='light'] {
  --color-background: var(--neutral-300);
  --color-surface: var(--neutral-200);
  --color-border: var(--neutral-400);
  --color-text-primary: var(--neutral-900);
  --color-text-secondary: var(--neutral-500);
  --color-accent-primary: var(--cyber-blue);
  --color-accent-secondary: var(--cyber-green);
}



/* 6. GLOBAL RESETS AND FONT APPLICATION */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* Smooth scrolling for anchor links */
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: var(--color-text-primary);
}

a {
  color: var(--color-accent-primary);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--color-accent-secondary);
}

nav a {
  color: var(--color-text-primary);
  opacity: 0.7;
  padding: 0.5rem 0;
  border-bottom: 2px solid transparent;
}

nav a:hover {
  opacity: 1;
  color: var(--color-accent-primary);
}

/* Style for the active link (Precise, sharp border) */
nav a.active-nav-link {
  opacity: 1;
  color: var(--color-accent-primary);
  border-bottom: 2px solid var(--color-accent-primary);
}

div[style*="--line-color: var(--color-border)"]::before {
  content: '';
  position: absolute;
  left: 8px; /* Aligns with the center of the dot */
  top: 0.25rem;
  bottom: 0;
  width: 2px;
  background-color: var(--line-color);
}